body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.search {
  display: flex;
  background-color: rgb(156, 163, 163);
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
}
.search input {
  flex: 1;
  background-color: rgb(156, 163, 163);
  border: none;
}

.search input:focus {
  outline: none;
}
.color {
  background-color: rgba(236, 240, 27, 0.733);
  height: 100px;
  width: 100px;
}
.color-list {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(7, minmax(10px, 0.5fr));
}
